EVS E-Waste Metal Analyser.json
{
  "name": "EVS E-Waste Metal Analyser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ewaste",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e18c8568-5e41-4e00-ab23-c23624ab1588",
      "name": "Webhook — Receive Image",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        -128
      ],
      "webhookId": "ewaste"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse this e-waste image and return the JSON analysis.",
        "options": {
          "systemMessage": "You are an expert in electronic waste (e-waste) material analysis and component recovery.\n\nWhen given an image of any e-waste device, analyse it and return ONLY valid JSON (no markdown, no backticks) with this exact structure:\n\n{\n  \"image_name\": \"device\",\n  \"device_type\": \"describe the exact device type here e.g. laptop motherboard, USB hub, CRT monitor, inkjet printer, power bank, etc.\",\n  \"metals_detected\": [\n    { \"name\": \"Copper\", \"symbol\": \"Cu\", \"recoverable\": true, \"estimated_weight_g\": 45, \"percentage\": 18 }\n  ],\n  \"total_recoverable_percentage\": 72,\n  \"negative_impacts\": [\n    \"Toxic fumes during smelting\"\n  ],\n  \"reusable_components\": [\n    {\n      \"name\": \"Component name\",\n      \"description\": \"What it is and where it is on this specific device\",\n      \"testing_method\": \"How to test if it still works\",\n      \"condition_check\": \"What to look for to confirm it is reusable\",\n      \"search_image_query\": \"specific search query to find reference image of this exact component e.g. laptop DDR4 RAM module\"\n    }\n  ],\n  \"summary\": \"Brief 2-sentence summary of the device and its metal composition.\"\n}\n\nIdentify ALL reusable components specific to this exact device. Be very specific — a component on a laptop motherboard is different from one on a phone charger. List every component that could realistically be salvaged and reused.",
          "passthroughBinaryImages": true
        }
      },
      "id": "8351d8f2-c2db-4e81-9be3-e12d8eb99711",
      "name": "AI Agent — Grok Vision",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        416,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json.output || $input.item.json.text || '';\n\nlet analysis;\ntry {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  analysis = JSON.parse(cleaned);\n} catch(e) {\n  analysis = { error: 'Parse failed', raw };\n}\n\nlet imgSrc = '';\ntry {\n  const nodes = ['AI Agent — Grok Vision', 'Webhook — Receive Image'];\n  for (const nodeName of nodes) {\n    try {\n      const item = $(nodeName).item;\n      if (item && item.binary) {\n        const key = Object.keys(item.binary)[0];\n        if (key && item.binary[key].data) {\n          imgSrc = `data:${item.binary[key].mimeType};base64,${item.binary[key].data}`;\n          break;\n        }\n      }\n    } catch(e2) { continue; }\n  }\n} catch(e) { imgSrc = ''; }\n\nconst original_name = $('Webhook — Receive Image').item.json.body?.original_name || '';\n\nreturn {\n  json: {\n    analysis,\n    original_name,\n    imgSrc\n  }\n};"
      },
      "id": "da772afc-3c8e-481f-80f4-485f8d1629ca",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/metal-prices",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "metals",
              "value": "={{ JSON.stringify($json.analysis.metals_detected.map(m => m.name)) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "00d7045a-5a0a-4109-9977-3524b4c6b555",
      "name": "Get Metal Market Data (Python Flask)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const analysis   = $('Parse AI Response').item.json.analysis;\nconst imgName    = $('Parse AI Response').item.json.original_name || 'component';\nconst marketData = $input.item.json;\nconst imgSrc     = $('Parse AI Response').item.json.imgSrc || '';\n\nconst metals    = (analysis.metals_detected || []).map(m => m.name);\nconst pcts      = (analysis.metals_detected || []).map(m => m.percentage || 0);\nconst weights   = (analysis.metals_detected || []).map(m => m.estimated_weight_g || 0);\nconst pricesRaw = (marketData && marketData.prices) ? marketData.prices : {};\nconst deviceType = analysis.device_type || 'Electronic Device';\n\nconst metalsRows = (analysis.metals_detected || []).map(m => `\n<tr class=\"mrow\">\n  <td><strong>${m.name}</strong> <span class=\"sym\">(${m.symbol})</span></td>\n  <td>${m.recoverable\n    ? '<span class=\"badge green\">✓ Recoverable</span>'\n    : '<span class=\"badge red\">✗ Non-Recoverable</span>'}</td>\n  <td>${m.estimated_weight_g ?? '—'} g</td>\n  <td>${m.percentage ?? '—'}%</td>\n</tr>`).join('');\n\nconst recov    = (analysis.metals_detected || []).filter(m => m.recoverable).map(m => m.name);\nconst nonRecov = (analysis.metals_detected || []).filter(m => !m.recoverable).map(m => m.name);\nconst impacts  = (analysis.negative_impacts || []).map(i => `<div class=\"impact-row\">⚠ ${i}</div>`).join('');\n\n// Reusable components from AI — dynamic, device-specific\nconst reusableComponents = analysis.reusable_components || [];\nconst reusableCards = reusableComponents.map((r, i) => {\n  const query = encodeURIComponent(r.search_image_query || r.name);\n  const unsplashUrl = `https://source.unsplash.com/300x200/?${query}`;\n  return `\n<div class=\"reuse-card animate\" style=\"animation-delay:${0.08*i}s\">\n  <div class=\"reuse-img-wrap\">\n    <img\n      src=\"${unsplashUrl}\"\n      alt=\"${r.name}\"\n      loading=\"lazy\"\n      onerror=\"this.style.display='none';this.nextElementSibling.style.display='flex'\"\n    />\n    <div class=\"reuse-img-fallback\" style=\"display:none\">🔧</div>\n  </div>\n  <div class=\"reuse-info\">\n    <div class=\"reuse-name\">${r.name}</div>\n    <div class=\"reuse-desc\">${r.description || ''}</div>\n    <div class=\"reuse-test\"><span class=\"reuse-label\">🔬 Test:</span> ${r.testing_method || '—'}</div>\n    <div class=\"reuse-test\"><span class=\"reuse-label\">👁 Check:</span> ${r.condition_check || '—'}</div>\n    <span class=\"badge green\" style=\"margin-top:8px;font-size:10px\">♻ Reusable</span>\n  </div>\n</div>`;\n}).join('') || '<div style=\"color:var(--muted);font-size:13px\">No reusable components identified by AI for this device.</div>';\n\n// Research papers — Google Scholar search per metal (always works)\nconst papersByMetal = (analysis.metals_detected || []).map(m => {\n  const searches = [\n    {\n      title: `Recovery of ${m.name} from Electronic Waste — Comprehensive Review`,\n      journal: 'Google Scholar Search · Peer-reviewed papers',\n      readUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' recovery electronic waste')}`,\n      dlUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' recovery e-waste free pdf')}`,\n      tags: [m.name, 'E-Waste', 'Recovery'],\n    },\n    {\n      title: `Hydrometallurgical Extraction of ${m.name} from PCB Waste`,\n      journal: 'Google Scholar Search · Hydrometallurgy',\n      readUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' hydrometallurgy printed circuit board leaching')}`,\n      dlUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' hydrometallurgy PCB leaching open access pdf')}`,\n      tags: [m.name, 'Hydrometallurgy', 'PCB'],\n    },\n    {\n      title: `Environmental Impact of ${m.name} Recovery — Life Cycle Assessment`,\n      journal: 'Google Scholar Search · Environmental Science',\n      readUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' e-waste life cycle assessment environmental impact')}`,\n      dlUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' LCA environmental impact open access')}`,\n      tags: [m.name, 'LCA', 'Environment'],\n    },\n    {\n      title: `Bioleaching of ${m.name} from Waste Electronic Equipment`,\n      journal: 'Google Scholar Search · Bioresource Technology',\n      readUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' bioleaching waste electronic equipment bacteria')}`,\n      dlUrl: `https://scholar.google.com/scholar?q=${encodeURIComponent(m.name + ' bioleaching WEEE free pdf')}`,\n      tags: [m.name, 'Bioleaching', 'WEEE'],\n    },\n  ];\n  return searches.map(p => ({...p, metal: m.name}));\n}).flat();\n\nconst paperCards = papersByMetal.map((p,i) => `\n<div class=\"paper-card\" data-metal=\"${p.metal}\">\n  <div class=\"paper-title\">\n    <a href=\"${p.readUrl}\" target=\"_blank\" rel=\"noopener\" class=\"paper-link\">${p.title}</a>\n  </div>\n  <div class=\"paper-meta\">${p.journal}</div>\n  <div class=\"paper-tags\">${p.tags.map(t=>`<span class=\"paper-tag\">${t}</span>`).join('')}</div>\n  <div class=\"paper-actions\">\n    <a href=\"${p.readUrl}\" target=\"_blank\" class=\"paper-btn read-btn\">📖 Search Papers</a>\n    <a href=\"${p.dlUrl}\" target=\"_blank\" class=\"paper-btn dl-btn\">⬇ Find Free PDF</a>\n  </div>\n</div>`).join('');\n\nconst metalFilterBtns = ['All', ...metals].map((m,i) =>\n  `<button class=\"ftab${i===0?' active':''}\" onclick=\"filterPapers('${m}',this)\">${m}</button>`\n).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\"/>\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/>\n<title>EVS E-Waste Report — ${imgName}</title>\n<script src=\"https://cdn.plot.ly/plotly-2.30.0.min.js\"><\\/script>\n<style>\n:root{\n  --bg:#060b14;--card:#0d1526;--card2:#0a1020;--border:#1a2840;\n  --accent:#4f8ef7;--a2:#7c3aed;--green:#22c55e;--red:#ef4444;\n  --yellow:#f59e0b;--text:#e2e8f0;--muted:#64748b;\n  --glow:rgba(79,142,247,0.12);\n}\n*{box-sizing:border-box;margin:0;padding:0;}\nhtml{scroll-behavior:smooth;}\nbody{font-family:'Segoe UI',system-ui,sans-serif;background:var(--bg);color:var(--text);min-height:100vh;}\nbody::before{content:'';position:fixed;inset:0;\n  background:radial-gradient(ellipse 60% 50% at 15% 15%,rgba(79,142,247,0.06) 0%,transparent 70%),\n             radial-gradient(ellipse 60% 50% at 85% 85%,rgba(124,58,237,0.06) 0%,transparent 70%);\n  pointer-events:none;z-index:0;}\n#intro{position:fixed;inset:0;background:var(--bg);z-index:9999;\n  display:flex;flex-direction:column;align-items:center;justify-content:center;\n  transition:opacity 1s ease 0.2s;}\n#intro.gone{opacity:0;pointer-events:none;}\n.i-icon{font-size:56px;animation:bounce 0.8s ease infinite alternate;}\n.i-title{font-size:22px;font-weight:700;color:var(--accent);margin-top:20px;letter-spacing:3px;}\n.i-sub{font-size:13px;color:var(--muted);margin-top:8px;}\n.i-bar{width:300px;height:4px;background:#1a2840;border-radius:2px;margin-top:28px;overflow:hidden;}\n.i-fill{height:100%;width:0;background:linear-gradient(90deg,var(--accent),var(--a2));border-radius:2px;transition:width 2.4s cubic-bezier(.4,0,.2,1);}\n.i-file{font-size:11px;color:var(--muted);margin-top:14px;max-width:340px;text-align:center;word-break:break-all;}\n.wrap{max-width:1360px;margin:0 auto;padding:36px 24px 64px;position:relative;z-index:1;}\n.hdr{text-align:center;padding:40px 0 52px;animation:fadeDown 0.9s ease both;}\n.hdr h1{font-size:38px;font-weight:900;\n  background:linear-gradient(135deg,var(--accent) 0%,var(--a2) 100%);\n  -webkit-background-clip:text;-webkit-text-fill-color:transparent;margin-bottom:10px;}\n.hdr-meta{color:var(--muted);font-size:13px;display:flex;gap:24px;justify-content:center;flex-wrap:wrap;}\n.device-badge{display:inline-block;margin-top:12px;padding:6px 18px;\n  background:rgba(79,142,247,0.1);border:1px solid rgba(79,142,247,0.3);\n  border-radius:20px;font-size:13px;color:var(--accent);font-weight:600;}\n.sh{font-size:11px;font-weight:700;letter-spacing:2.5px;text-transform:uppercase;\n  color:var(--accent);display:flex;align-items:center;gap:10px;margin-bottom:20px;}\n.sh::after{content:'';flex:1;height:1px;background:var(--border);}\n.card{background:var(--card);border:1px solid var(--border);border-radius:18px;padding:28px;\n  transition:box-shadow 0.3s,transform 0.3s;}\n.card:hover{box-shadow:0 8px 40px var(--glow);transform:translateY(-2px);}\n.g2{display:grid;grid-template-columns:1fr 1fr;gap:20px;margin-bottom:20px;}\n.g1{margin-bottom:20px;}\n@media(max-width:860px){.g2{grid-template-columns:1fr;}}\n.img-drop-zone{min-height:240px;border:2px dashed var(--border);border-radius:12px;\n  display:flex;flex-direction:column;align-items:center;justify-content:center;\n  background:var(--card2);cursor:pointer;position:relative;overflow:hidden;\n  transition:border-color 0.2s,background 0.2s;}\n.img-drop-zone.dragover{border-color:var(--accent);background:rgba(79,142,247,0.05);}\n.img-drop-zone img{max-width:100%;max-height:320px;object-fit:contain;border-radius:8px;}\n.drop-hint{display:flex;flex-direction:column;align-items:center;gap:10px;color:var(--muted);}\n.drop-hint .di{font-size:40px;}\n.drop-hint p{font-size:13px;}\n.drop-hint small{font-size:11px;color:#334155;}\n#drop-input{display:none;}\n.img-info-bar{margin-top:12px;padding:10px 14px;background:var(--card2);border-radius:8px;\n  border:1px solid var(--border);font-size:12px;color:var(--muted);}\n.summary-p{font-size:14px;line-height:1.85;color:#94a3b8;margin-bottom:22px;}\n.stat-hero{background:linear-gradient(135deg,rgba(79,142,247,0.08),rgba(124,58,237,0.08));\n  border:1px solid rgba(79,142,247,0.2);border-radius:14px;padding:22px;\n  display:flex;align-items:center;gap:20px;}\n.stat-n{font-size:52px;font-weight:900;\n  background:linear-gradient(135deg,var(--accent),var(--a2));\n  -webkit-background-clip:text;-webkit-text-fill-color:transparent;line-height:1;}\n.stat-l{font-size:14px;font-weight:600;color:var(--text);}\n.stat-s{font-size:12px;color:var(--muted);margin-top:3px;}\ntable{width:100%;border-collapse:collapse;font-size:13px;}\nth{text-align:left;padding:10px 12px;border-bottom:2px solid var(--border);\n  color:var(--muted);font-size:11px;font-weight:700;letter-spacing:.8px;text-transform:uppercase;}\ntd{padding:10px 12px;border-bottom:1px solid rgba(26,40,64,0.7);}\n.mrow{animation:fadeUp 0.4s ease both;}\n.sym{color:var(--muted);font-size:11px;}\n.badge{display:inline-flex;align-items:center;gap:4px;padding:3px 11px;\n  border-radius:20px;font-size:11px;font-weight:700;}\n.badge.green{background:rgba(34,197,94,0.12);color:var(--green);border:1px solid rgba(34,197,94,0.25);}\n.badge.red{background:rgba(239,68,68,0.12);color:var(--red);border:1px solid rgba(239,68,68,0.25);}\n.rpill{padding:5px 14px;border-radius:20px;font-size:12px;}\n.rpill.y{background:rgba(34,197,94,0.1);color:var(--green);border:1px solid rgba(34,197,94,0.2);}\n.rpill.n{background:rgba(239,68,68,0.1);color:var(--red);border:1px solid rgba(239,68,68,0.2);}\n.impact-row{padding:11px 16px;background:var(--card2);border-radius:8px;\n  border-left:3px solid var(--yellow);margin-bottom:8px;font-size:13px;color:#cbd5e1;}\n.reuse-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(260px,1fr));gap:16px;}\n.reuse-card{background:var(--card2);border:1px solid var(--border);border-radius:12px;\n  overflow:hidden;transition:border-color 0.2s,transform 0.2s;}\n.reuse-card:hover{border-color:var(--accent);transform:translateY(-2px);}\n.reuse-img-wrap{height:160px;background:#080f1e;display:flex;align-items:center;justify-content:center;overflow:hidden;}\n.reuse-img-wrap img{width:100%;height:160px;object-fit:cover;}\n.reuse-img-fallback{width:100%;height:100%;display:flex;align-items:center;justify-content:center;font-size:40px;color:var(--muted);}\n.reuse-info{padding:16px;}\n.reuse-name{font-size:14px;font-weight:700;color:var(--text);margin-bottom:6px;}\n.reuse-desc{font-size:12px;color:#94a3b8;margin-bottom:8px;line-height:1.5;}\n.reuse-test{font-size:11px;color:var(--muted);margin-bottom:4px;line-height:1.5;}\n.reuse-label{color:var(--accent);font-weight:600;}\n.method-tabs{display:flex;gap:8px;margin-bottom:18px;flex-wrap:wrap;}\n.mtab{padding:8px 18px;border-radius:8px;border:1px solid var(--border);\n  background:transparent;color:var(--muted);cursor:pointer;font-size:13px;font-weight:500;transition:all 0.2s;}\n.mtab:hover{border-color:var(--accent);color:var(--accent);}\n.mtab.act{background:linear-gradient(135deg,var(--accent),var(--a2));border-color:transparent;color:#fff;font-weight:600;}\n.ctx-tabs{display:flex;gap:8px;margin-bottom:18px;}\n.ctx-tab{padding:7px 18px;border-radius:8px;border:1px solid var(--border);\n  background:transparent;color:var(--muted);cursor:pointer;font-size:12px;transition:all 0.2s;}\n.ctx-tab.act{background:rgba(79,142,247,0.12);border-color:var(--accent);color:var(--accent);font-weight:600;}\n.mpanel{display:none;animation:fadeUp 0.35s ease;}\n.mpanel.act{display:block;}\n.cpanel{display:none;animation:fadeUp 0.35s ease;}\n.cpanel.act{display:block;}\n.isec{margin-bottom:22px;}\n.isec h4{font-size:13px;font-weight:700;color:var(--accent);display:flex;align-items:center;gap:7px;margin-bottom:12px;}\n.igrid{display:grid;grid-template-columns:repeat(auto-fill,minmax(210px,1fr));gap:10px;}\n.ichip{background:var(--card2);border:1px solid var(--border);border-radius:10px;padding:12px 14px;font-size:12px;color:#94a3b8;}\n.ichip strong{display:block;color:var(--text);font-size:13px;margin-bottom:3px;}\n.step{display:flex;gap:14px;margin-bottom:10px;background:var(--card2);border-radius:10px;padding:14px;border-left:3px solid var(--accent);}\n.snum{width:28px;height:28px;border-radius:50%;background:var(--accent);color:#fff;display:flex;align-items:center;justify-content:center;font-size:12px;font-weight:700;flex-shrink:0;}\n.scon .st{font-size:13px;font-weight:600;margin-bottom:3px;}\n.scon .sd{font-size:12px;color:#64748b;line-height:1.6;}\n.pause{display:inline-block;margin-top:7px;padding:3px 10px;background:rgba(245,158,11,0.12);border:1px solid rgba(245,158,11,0.25);border-radius:4px;font-size:11px;color:var(--yellow);}\n.filter-row{display:flex;gap:8px;margin-bottom:18px;flex-wrap:wrap;}\n.ftab{padding:6px 16px;border-radius:20px;border:1px solid var(--border);background:transparent;color:var(--muted);cursor:pointer;font-size:12px;transition:all 0.2s;}\n.ftab:hover{border-color:var(--accent);color:var(--accent);}\n.ftab.active{background:var(--accent);border-color:var(--accent);color:#fff;font-weight:600;}\n.paper-card{background:var(--card2);border:1px solid var(--border);border-radius:12px;padding:18px 20px;margin-bottom:10px;transition:border-color 0.2s;}\n.paper-card:hover{border-color:var(--accent);}\n.paper-link{font-size:14px;font-weight:600;color:var(--accent);text-decoration:none;}\n.paper-link:hover{text-decoration:underline;}\n.paper-meta{font-size:11px;color:var(--muted);margin-top:5px;}\n.paper-tags{display:flex;gap:6px;flex-wrap:wrap;margin-top:8px;}\n.paper-tag{padding:2px 9px;border-radius:4px;background:rgba(79,142,247,0.1);color:var(--accent);font-size:10px;font-weight:600;}\n.paper-actions{display:flex;gap:8px;margin-top:12px;flex-wrap:wrap;}\n.paper-btn{padding:6px 14px;border-radius:6px;font-size:12px;font-weight:600;text-decoration:none;display:inline-flex;align-items:center;gap:5px;transition:opacity 0.2s;}\n.paper-btn:hover{opacity:0.8;}\n.read-btn{background:rgba(79,142,247,0.15);color:var(--accent);border:1px solid rgba(79,142,247,0.3);}\n.dl-btn{background:rgba(34,197,94,0.12);color:var(--green);border:1px solid rgba(34,197,94,0.25);}\n#chart-pie,#chart-bar,#chart-market{width:100%;height:360px;}\n.drow{display:flex;gap:10px;align-items:center;margin-bottom:14px;flex-wrap:wrap;}\n.drow label{font-size:12px;color:var(--muted);}\n.drow input{background:var(--card2);border:1px solid var(--border);color:var(--text);padding:5px 10px;border-radius:6px;font-size:12px;}\n.drow button{background:var(--accent);border:none;color:#fff;padding:5px 14px;border-radius:6px;cursor:pointer;font-size:12px;}\n.footer{text-align:center;padding:32px 0 8px;color:var(--muted);font-size:12px;border-top:1px solid var(--border);margin-top:40px;}\n.footer a{color:var(--accent);text-decoration:none;}\n@keyframes fadeDown{from{opacity:0;transform:translateY(-24px)}to{opacity:1;transform:none}}\n@keyframes fadeUp{from{opacity:0;transform:translateY(16px)}to{opacity:1;transform:none}}\n@keyframes bounce{from{transform:translateY(0)}to{transform:translateY(-8px)}}\n.animate{opacity:0;transform:translateY(20px);transition:opacity 0.7s ease,transform 0.7s ease;}\n.animate.visible{opacity:1;transform:none;}\n<\\/style>\n</head>\n<body>\n\n<div id=\"intro\">\n  <div class=\"i-icon\">♻</div>\n  <div class=\"i-title\">EVS E-WASTE ANALYSER</div>\n  <div class=\"i-sub\">Building your analysis report...</div>\n  <div class=\"i-bar\"><div class=\"i-fill\" id=\"ifill\"></div></div>\n  <div class=\"i-file\">${imgName}</div>\n</div>\n\n<div class=\"wrap\">\n\n<div class=\"hdr\">\n  <h1>♻ E-Waste Analysis Report</h1>\n  <div class=\"hdr-meta\">\n    <span>📅 ${new Date().toLocaleString()}</span>\n    <span>📄 ${imgName}</span>\n  </div>\n  <div class=\"device-badge\">🔌 ${deviceType}</div>\n</div>\n\n<!-- Image + Summary -->\n<div class=\"g2\">\n  <div class=\"card animate\">\n    <div class=\"sh\">Component Image</div>\n    <div class=\"img-drop-zone\" id=\"dropZone\">\n      <input type=\"file\" id=\"drop-input\" accept=\"image/jpeg,image/png,image/webp,image/gif,image/bmp\"/>\n      ${imgSrc\n        ? `<img id=\"comp-img\" src=\"${imgSrc}\" alt=\"${imgName}\"/>`\n        : `<div class=\"drop-hint\" id=\"drop-hint\">\n            <div class=\"di\">📷</div>\n            <p>Drop component image here</p>\n            <small>JPG · PNG · WEBP · GIF · BMP only<br/>No hidden metadata stored</small>\n           </div>\n           <img id=\"comp-img\" style=\"display:none;max-width:100%;max-height:320px;object-fit:contain;border-radius:8px;\"/>`\n      }\n    </div>\n    <div class=\"img-info-bar\" id=\"img-info-bar\">\n      ${imgSrc\n        ? `<strong>File:</strong> ${imgName} &nbsp;|&nbsp; <strong>Date:</strong> ${new Date().toLocaleDateString()} &nbsp;|&nbsp; <span style=\"color:var(--green)\">✓ Secure — no hidden data stored</span>`\n        : `<span style=\"color:var(--muted)\">Drop an image above to display it securely.</span>`\n      }\n    </div>\n  </div>\n  <div class=\"card animate\">\n    <div class=\"sh\">AI Summary</div>\n    <div class=\"summary-p\">${analysis.summary || 'No summary available.'}</div>\n    <div class=\"stat-hero\">\n      <div class=\"stat-n\">${analysis.total_recoverable_percentage ?? 0}%</div>\n      <div>\n        <div class=\"stat-l\">Total Recoverable Material</div>\n        <div class=\"stat-s\">estimated by weight analysis</div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- Metals -->\n<div class=\"g1 animate\">\n  <div class=\"card\">\n    <div class=\"sh\">All Detected Metals</div>\n    <table>\n      <thead><tr><th>Metal</th><th>Status</th><th>Est. Weight</th><th>% Share</th></tr></thead>\n      <tbody>${metalsRows}</tbody>\n    </table>\n    <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:16px;margin-top:20px;\">\n      <div style=\"background:var(--card2);border-radius:10px;padding:14px;\">\n        <div style=\"font-size:11px;font-weight:700;color:var(--green);text-transform:uppercase;letter-spacing:1px;margin-bottom:8px;\">✓ Recoverable</div>\n        <div style=\"display:flex;gap:8px;flex-wrap:wrap;\">${recov.map(m=>`<span class=\"rpill y\">${m}</span>`).join('') || '<span style=\"color:var(--muted);font-size:12px\">None</span>'}</div>\n      </div>\n      <div style=\"background:var(--card2);border-radius:10px;padding:14px;\">\n        <div style=\"font-size:11px;font-weight:700;color:var(--red);text-transform:uppercase;letter-spacing:1px;margin-bottom:8px;\">✗ Non-Recoverable</div>\n        <div style=\"display:flex;gap:8px;flex-wrap:wrap;\">${nonRecov.map(m=>`<span class=\"rpill n\">${m}</span>`).join('') || '<span style=\"color:var(--muted);font-size:12px\">None</span>'}</div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<!-- Charts -->\n<div class=\"g2 animate\">\n  <div class=\"card\">\n    <div class=\"sh\">Material Composition (%)</div>\n    <div id=\"chart-pie\"></div>\n  </div>\n  <div class=\"card\">\n    <div class=\"sh\">Estimated Weight by Metal (g)</div>\n    <div id=\"chart-bar\"></div>\n  </div>\n</div>\n\n<!-- Impacts -->\n<div class=\"g1 animate\">\n  <div class=\"card\">\n    <div class=\"sh\">Environmental & Health Impacts</div>\n    ${impacts || '<div class=\"impact-row\">No impacts listed.</div>'}\n  </div>\n</div>\n\n<!-- Reusable Components — AI Generated -->\n<div class=\"g1 animate\">\n  <div class=\"card\">\n    <div class=\"sh\">Reusable Components — Identified by AI for this ${deviceType}</div>\n    <div class=\"reuse-grid\">${reusableCards}</div>\n  </div>\n</div>\n\n<!-- Recovery Methods -->\n<div class=\"g1 animate\">\n  <div class=\"card\">\n    <div class=\"sh\">Recovery Methods</div>\n    <div class=\"method-tabs\">\n      <button class=\"mtab act\" onclick=\"selMethod('hydro',this)\">💧 Hydrometallurgy</button>\n      <button class=\"mtab\" onclick=\"selMethod('pyro',this)\">🔥 Pyrometallurgy</button>\n      <button class=\"mtab\" onclick=\"selMethod('electro',this)\">⚡ Electrometallurgy</button>\n      <button class=\"mtab\" onclick=\"selMethod('bio',this)\">🧬 Biometallurgy</button>\n      <button class=\"mtab\" onclick=\"selMethod('mech',this)\">⚙ Mechanical</button>\n    </div>\n    <div class=\"ctx-tabs\">\n      <button class=\"ctx-tab act\" onclick=\"selCtx('stu',this)\">🎓 Student / Lab</button>\n      <button class=\"ctx-tab\" onclick=\"selCtx('pro',this)\">🏭 Professional / Industry</button>\n    </div>\n\n    <div class=\"mpanel act\" id=\"m-hydro\">\n      <div class=\"cpanel act\" id=\"hydro-stu\">\n        <div class=\"isec\"><h4>🦺 Safety Gear</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Acid-Resistant Gloves</strong>Nitrile or rubber, full wrist coverage</div>\n          <div class=\"ichip\"><strong>Chemical Splash Goggles</strong>Indirect vent, anti-fog</div>\n          <div class=\"ichip\"><strong>Lab Coat</strong>Full-length acid-resistant</div>\n          <div class=\"ichip\"><strong>Fume Hood</strong>All acid work inside hood — mandatory</div>\n          <div class=\"ichip\"><strong>N95 Respirator</strong>For HCl / HNO₃ vapour</div>\n          <div class=\"ichip\"><strong>Face Shield</strong>Polycarbonate, over goggles</div>\n        </div></div>\n        <div class=\"isec\"><h4>🔧 Pre-Process</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Manual Disassembly</div><div class=\"sd\">Remove batteries, LCDs and non-metal parts using ESD-safe tools.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Crushing / Grinding</div><div class=\"sd\">Lab jaw crusher → ball mill to ≤2 mm. Ventilation on.</div><div class=\"pause\">⏱ Pause: ventilate 5 min between runs</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">Magnetic Pre-Separation</div><div class=\"sd\">Pass over neodymium magnet to remove ferrous fraction.</div></div></div>\n        </div>\n        <div class=\"isec\"><h4>🔬 Lab Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Jaw Crusher (lab)</strong>Size reduction to 5–10 mm</div>\n          <div class=\"ichip\"><strong>Hot Plate Stirrer</strong>Leaching at 60–80 °C</div>\n          <div class=\"ichip\"><strong>pH Meter</strong>Calibrate before every use</div>\n          <div class=\"ichip\"><strong>Centrifuge</strong>Solid-liquid separation</div>\n          <div class=\"ichip\"><strong>Analytical Balance</strong>±0.0001 g accuracy</div>\n          <div class=\"ichip\"><strong>Fume Hood</strong>Mandatory for all acid work</div>\n        </div></div>\n        <div class=\"isec\"><h4>🧪 Chemicals & Preparation</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Aqua Regia (Au/Pt)</strong>Mix 3 vol HCl + 1 vol HNO₃ in fume hood. Add HNO₃ to HCl. Prepare fresh.</div>\n          <div class=\"ichip\"><strong>Dilute H₂SO₄ (Cu)</strong>Add 98% H₂SO₄ slowly to distilled water. NEVER reverse. Cool in ice bath.</div>\n          <div class=\"ichip\"><strong>NaOH (pH adjust)</strong>Dissolve pellets in distilled water. Exothermic — cool before use. Target 2 M.</div>\n          <div class=\"ichip\"><strong>Na₂S₂O₅ (Au precipitation)</strong>Dissolve in warm water 100 g/L. Add dropwise to precipitate gold.</div>\n        </div></div>\n        <div class=\"isec\"><h4>⚗️ Main Process</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Leaching</div><div class=\"sd\">Add crushed sample to acid in 500 mL beaker. Heat to 70 °C, stir 300 rpm.</div><div class=\"pause\">⏱ Pause: 2–4 h leaching time</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Filtration</div><div class=\"sd\">Vacuum-filter through Whatman No.1. Wash residue with 50 mL DI water × 3.</div><div class=\"pause\">⏱ Pause: 20 min settling</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">pH Adjustment</div><div class=\"sd\">Add NaOH dropwise to reach pH 1–2. Monitor continuously.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">4</div><div class=\"scon\"><div class=\"st\">Precipitation</div><div class=\"sd\">Add Na₂S₂O₅ to precipitate Au. Stir 15 min.</div><div class=\"pause\">⏱ Pause: 1 h settling</div></div></div>\n          <div class=\"step\"><div class=\"snum\">5</div><div class=\"scon\"><div class=\"st\">Collection</div><div class=\"sd\">Filter; wash 3× DI water; transfer to weigh boat.</div></div></div>\n        </div>\n        <div class=\"isec\"><h4>🏁 Post-Process</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Drying</div><div class=\"sd\">Dry at 80 °C in oven.</div><div class=\"pause\">⏱ Pause: 2 h</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Waste Neutralisation</div><div class=\"sd\">Neutralise acid waste to pH 6–8 with NaOH before disposal.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">Purity Verification</div><div class=\"sd\">XRF or acid-touch test to confirm metal identity and purity.</div></div></div>\n        </div>\n      </div>\n      <div class=\"cpanel\" id=\"hydro-pro\">\n        <div class=\"isec\"><h4>🦺 Safety Gear (Industrial)</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Level B Hazmat Suit</strong>Chemical-splash protection</div>\n          <div class=\"ichip\"><strong>SCBA</strong>Self-Contained Breathing Apparatus</div>\n          <div class=\"ichip\"><strong>PVC Chemical Boots</strong>Knee-high acid-resistant</div>\n          <div class=\"ichip\"><strong>Gas Detector</strong>Real-time HCl/NO₂ monitoring</div>\n          <div class=\"ichip\"><strong>Safety Harness</strong>For elevated tank access</div>\n          <div class=\"ichip\"><strong>Emergency Shower</strong>Within 10 m of work area</div>\n        </div></div>\n        <div class=\"isec\"><h4>🏭 Industrial Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Twin-Shaft Shredder</strong>500–2000 kg/hr throughput</div>\n          <div class=\"ichip\"><strong>Agitated Leach Tanks</strong>HDPE-lined, 50,000–100,000 L</div>\n          <div class=\"ichip\"><strong>Filter Press</strong>Industrial cake filtration</div>\n          <div class=\"ichip\"><strong>SX Mixer-Settlers</strong>Solvent extraction 6–12 stages</div>\n          <div class=\"ichip\"><strong>Electrowinning Tankhouse</strong>300–500 A/m² cathode current</div>\n          <div class=\"ichip\"><strong>WWTP</strong>Zero-liquid-discharge plant</div>\n        </div></div>\n        <div class=\"isec\"><h4>⚗️ Industrial Process</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Tank Leaching</div><div class=\"sd\">Agitated tanks with H₂SO₄ (Cu) or NaCN (Au) at 60 °C, pH 1.5–2.</div><div class=\"pause\">⏱ Pause: 8–24 h residence time</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Counter-Current Decantation</div><div class=\"sd\">CCD thickeners wash solids, maximise metal into PLS.</div><div class=\"pause\">⏱ Pause: 2–4 h per stage</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">Solvent Extraction</div><div class=\"sd\">LIX 984N / Acorga M5640 in mixer-settlers. Load and strip cycles.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">4</div><div class=\"scon\"><div class=\"st\">Electrowinning</div><div class=\"sd\">Pure metal deposited on SS cathodes at 200–250 A/m².</div><div class=\"pause\">⏱ Pause: 5–7 days per harvest</div></div></div>\n          <div class=\"step\"><div class=\"snum\">5</div><div class=\"scon\"><div class=\"st\">Casting</div><div class=\"sd\">Strip → melt → cast to 99.99% LME Grade A ingots.</div></div></div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"mpanel\" id=\"m-pyro\">\n      <div class=\"cpanel act\" id=\"pyro-stu\">\n        <div class=\"isec\"><h4>🦺 Safety Gear</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Kevlar Gloves</strong>Rated to 500 °C</div>\n          <div class=\"ichip\"><strong>Full-Face Heat Shield</strong>Polycarbonate</div>\n          <div class=\"ichip\"><strong>Nomex Lab Coat</strong>Flame-retardant</div>\n          <div class=\"ichip\"><strong>P100 Respirator</strong>Metal fume filtration</div>\n          <div class=\"ichip\"><strong>Steel-Toe Boots</strong>Heat-resistant sole</div>\n        </div></div>\n        <div class=\"isec\"><h4>🔬 Lab Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Muffle Furnace</strong>Up to 1200 °C</div>\n          <div class=\"ichip\"><strong>Graphite Crucible</strong>Holds molten metal</div>\n          <div class=\"ichip\"><strong>K-Type Thermocouple</strong>Temperature monitoring</div>\n          <div class=\"ichip\"><strong>Long Ceramic Tongs</strong>Safe crucible handling</div>\n        </div></div>\n        <div class=\"isec\"><h4>⚗️ Process Steps</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Pre-Drying</div><div class=\"sd\">Dry at 105 °C to remove moisture.</div><div class=\"pause\">⏱ Pause: 2 h</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Loading with Flux</div><div class=\"sd\">Place crushed e-waste + borax flux (10%) in graphite crucible.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">Smelting</div><div class=\"sd\">Heat to 1100–1200 °C in muffle furnace.</div><div class=\"pause\">⏱ Pause: 2–3 h at temperature</div></div></div>\n          <div class=\"step\"><div class=\"snum\">4</div><div class=\"scon\"><div class=\"st\">Tapping</div><div class=\"sd\">Pour molten metal into mould; skim slag from top.</div><div class=\"pause\">⏱ Pause: 1 h cooling</div></div></div>\n          <div class=\"step\"><div class=\"snum\">5</div><div class=\"scon\"><div class=\"st\">Analysis</div><div class=\"sd\">XRF on ingot; classify slag as hazardous waste.</div></div></div>\n        </div>\n      </div>\n      <div class=\"cpanel\" id=\"pyro-pro\">\n        <div class=\"isec\"><h4>🏭 Industrial Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Flash Smelting Furnace</strong>1300 °C continuous</div>\n          <div class=\"ichip\"><strong>Peirce-Smith Converter</strong>Matte → blister copper</div>\n          <div class=\"ichip\"><strong>Anode Furnace</strong>Fire-refining to 99.5% Cu</div>\n          <div class=\"ichip\"><strong>Gas Cleaning Plant</strong>SO₂ → H₂SO₄ by-product</div>\n          <div class=\"ichip\"><strong>Electrolytic Refinery</strong>99.99% cathode copper</div>\n        </div></div>\n      </div>\n    </div>\n\n    <div class=\"mpanel\" id=\"m-electro\">\n      <div class=\"cpanel act\" id=\"electro-stu\">\n        <div class=\"isec\"><h4>🦺 Safety Gear</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Insulated Rubber Gloves</strong>Electrical rated</div>\n          <div class=\"ichip\"><strong>Chemical Goggles</strong>Acid splash protection</div>\n          <div class=\"ichip\"><strong>Rubber Apron</strong>Full acid apron</div>\n        </div></div>\n        <div class=\"isec\"><h4>🔬 Lab Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>DC Power Supply</strong>0–30 V, 0–5 A adjustable</div>\n          <div class=\"ichip\"><strong>Electrolytic Cell</strong>Glass beaker + electrodes</div>\n          <div class=\"ichip\"><strong>Copper Cathode Sheet</strong>Pure starting sheet</div>\n          <div class=\"ichip\"><strong>Inert Anode</strong>Platinum or carbon rod</div>\n        </div></div>\n        <div class=\"isec\"><h4>🧪 Electrolyte</h4>\n          <div class=\"ichip\" style=\"max-width:500px\"><strong>CuSO₄ / H₂SO₄</strong>Dissolve 250 g CuSO₄·5H₂O in 900 mL DI water. Add 50 mL 98% H₂SO₄ slowly. Make to 1 L.</div>\n        </div>\n        <div class=\"isec\"><h4>⚗️ Process Steps</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Cell Assembly</div><div class=\"sd\">Connect cathode (−) and impure anode (+). Immerse in electrolyte.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Electrolysis</div><div class=\"sd\">Apply 0.3–0.5 V; maintain 200 mA/cm².</div><div class=\"pause\">⏱ Pause: 6–24 h deposition</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">Harvest</div><div class=\"sd\">Remove cathode; rinse DI water; dry and weigh.</div></div></div>\n        </div>\n      </div>\n      <div class=\"cpanel\" id=\"electro-pro\">\n        <div class=\"isec\"><h4>🏭 Industrial Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Electrowinning Tankhouse</strong>Hundreds of cells, 50 kA rectifiers</div>\n          <div class=\"ichip\"><strong>Auto-Stripping Machine</strong>Robotic harvest every 5–7 days</div>\n          <div class=\"ichip\"><strong>Electrolyte Circulation</strong>Pumps + coolers</div>\n          <div class=\"ichip\"><strong>ICP-MS Lab</strong>Purity verification</div>\n        </div></div>\n      </div>\n    </div>\n\n    <div class=\"mpanel\" id=\"m-bio\">\n      <div class=\"cpanel act\" id=\"bio-stu\">\n        <div class=\"isec\"><h4>🦺 Safety Gear</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Nitrile Gloves</strong>Biological material handling</div>\n          <div class=\"ichip\"><strong>Safety Goggles</strong>Eye protection</div>\n          <div class=\"ichip\"><strong>Biosafety Cabinet</strong>Level 1 for Acidithiobacillus</div>\n        </div></div>\n        <div class=\"isec\"><h4>🔬 Lab Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Orbital Shaker</strong>150–200 rpm, 30 °C</div>\n          <div class=\"ichip\"><strong>Autoclave</strong>121 °C, 15 min sterilisation</div>\n          <div class=\"ichip\"><strong>pH Meter</strong>Daily monitoring</div>\n          <div class=\"ichip\"><strong>Microscope</strong>Bacteria viability check</div>\n        </div></div>\n        <div class=\"isec\"><h4>⚗️ Process Steps</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Culture Growth</div><div class=\"sd\">Grow Acidithiobacillus ferrooxidans in 9K medium, pH 2.0, 30 °C.</div><div class=\"pause\">⏱ Pause: 7–14 days</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Bioleaching</div><div class=\"sd\">Add crushed e-waste (5% pulp density). Monitor pH daily.</div><div class=\"pause\">⏱ Pause: 14–21 days</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">Metal Recovery</div><div class=\"sd\">Filter leachate; precipitate metals; dry and weigh.</div></div></div>\n        </div>\n      </div>\n      <div class=\"cpanel\" id=\"bio-pro\">\n        <div class=\"isec\"><h4>🏭 Industrial Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>CSTR Bioreactor</strong>500,000 L stirred tank</div>\n          <div class=\"ichip\"><strong>Aeration System</strong>Compressed air for bacteria</div>\n          <div class=\"ichip\"><strong>Heap Irrigation</strong>Drip system over 6–10 m heaps</div>\n        </div></div>\n        <div class=\"isec\"><h4>⚗️ Industrial Process</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Heap Construction</div><div class=\"sd\">Crushed ore on HDPE-lined pad. Acid solution irrigated from top.</div><div class=\"pause\">⏱ Pause: 90–360 days</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">PLS → SX-EW</div><div class=\"sd\">Pregnant leach solution processed in SX-EW plant.</div></div></div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"mpanel\" id=\"m-mech\">\n      <div class=\"cpanel act\" id=\"mech-stu\">\n        <div class=\"isec\"><h4>🦺 Safety Gear</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Cut-Resistant Gloves</strong>Level D cut protection</div>\n          <div class=\"ichip\"><strong>N95 Dust Mask</strong>Fine particle protection</div>\n          <div class=\"ichip\"><strong>Safety Glasses</strong>Impact-rated</div>\n          <div class=\"ichip\"><strong>Ear Protection</strong>SNR 30 dB earplugs</div>\n        </div></div>\n        <div class=\"isec\"><h4>🔬 Lab Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Screwdriver Set</strong>Phillips/Torx/Pentalobe</div>\n          <div class=\"ichip\"><strong>Lab Shredder</strong>Small-scale, 2 kg/hr</div>\n          <div class=\"ichip\"><strong>Vibrating Sieve</strong>0.5–5 mm mesh</div>\n          <div class=\"ichip\"><strong>Neodymium Magnet</strong>Ferrous separation</div>\n        </div></div>\n        <div class=\"isec\"><h4>⚗️ Process Steps</h4>\n          <div class=\"step\"><div class=\"snum\">1</div><div class=\"scon\"><div class=\"st\">Manual Disassembly</div><div class=\"sd\">Fully disassemble. Sort PCBs, cables, chassis, batteries into labelled bins.</div><div class=\"pause\">⏱ Pause: document all parts</div></div></div>\n          <div class=\"step\"><div class=\"snum\">2</div><div class=\"scon\"><div class=\"st\">Shredding</div><div class=\"sd\">Shred to ≤5 mm in lab shredder.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">3</div><div class=\"scon\"><div class=\"st\">Magnetic Separation</div><div class=\"sd\">Pass over magnet to separate Fe/steel.</div></div></div>\n          <div class=\"step\"><div class=\"snum\">4</div><div class=\"scon\"><div class=\"st\">Density Separation</div><div class=\"sd\">Air table or water jig separates metals from plastics.</div></div></div>\n        </div>\n      </div>\n      <div class=\"cpanel\" id=\"mech-pro\">\n        <div class=\"isec\"><h4>🏭 Industrial Machines</h4><div class=\"igrid\">\n          <div class=\"ichip\"><strong>Primary Shredder</strong>Twin-shaft, 2–50 t/hr</div>\n          <div class=\"ichip\"><strong>Overband Magnet</strong>Ferrous removal</div>\n          <div class=\"ichip\"><strong>Eddy Current Separator</strong>Non-ferrous metals</div>\n          <div class=\"ichip\"><strong>NIR Optical Sorter</strong>Polymer identification</div>\n          <div class=\"ichip\"><strong>XRT Sorter</strong>X-ray transmission sorting</div>\n        </div></div>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n<!-- Research Papers -->\n<div class=\"g1 animate\">\n  <div class=\"card\">\n    <div class=\"sh\">Research Papers by Metal</div>\n    <div class=\"filter-row\">${metalFilterBtns}</div>\n    <div id=\"papers-list\">${paperCards}</div>\n  </div>\n</div>\n\n<!-- Market Prices -->\n<div class=\"g1 animate\">\n  <div class=\"card\">\n    <div class=\"sh\">Metal Market Prices — Last 12 Months (USD/kg)</div>\n    <div class=\"drow\">\n      <label>From: <input type=\"date\" id=\"df\"/></label>\n      <label>To: <input type=\"date\" id=\"dt\"/></label>\n      <button onclick=\"applyFilter()\">Apply</button>\n      <button onclick=\"resetFilter()\">Reset</button>\n    </div>\n    <div id=\"chart-market\"></div>\n  </div>\n</div>\n\n<div class=\"footer\">\n  <p>© ${new Date().getFullYear()} EVS E-Waste Analyser &nbsp;·&nbsp; All reports generated for educational and research purposes only.</p>\n  <p style=\"margin-top:6px\">AI analysis by <a href=\"https://groq.com\" target=\"_blank\">Groq</a> &nbsp;·&nbsp; Papers via <a href=\"https://scholar.google.com\" target=\"_blank\">Google Scholar</a> &nbsp;·&nbsp; Free PDFs via <a href=\"https://unpaywall.org\" target=\"_blank\">Unpaywall</a></p>\n  <p style=\"margin-top:6px;font-size:11px;color:#334155\">No hidden user metadata stored. Component image processing is local only.</p>\n</div>\n\n</div>\n\n<script>\nwindow.addEventListener('load',()=>{\n  const f=document.getElementById('ifill');\n  if(f)f.style.width='100%';\n  setTimeout(()=>{\n    const i=document.getElementById('intro');\n    if(i){i.classList.add('gone');setTimeout(()=>i.remove(),1100);}\n  },2600);\n});\n\nconst io=new IntersectionObserver(entries=>{\n  entries.forEach(e=>{if(e.isIntersecting)e.target.classList.add('visible');});\n},{threshold:0.08});\ndocument.querySelectorAll('.animate').forEach(el=>io.observe(el));\n\n(function(){\n  const zone=document.getElementById('dropZone');\n  const inp=document.getElementById('drop-input');\n  const img=document.getElementById('comp-img');\n  const hint=document.getElementById('drop-hint');\n  const bar=document.getElementById('img-info-bar');\n  if(!zone||!inp)return;\n  const ALLOWED=new Set(['image/jpeg','image/png','image/webp','image/gif','image/bmp']);\n  const MAGIC=[\n    {mime:'image/jpeg',off:0,bytes:[0xFF,0xD8,0xFF]},\n    {mime:'image/png',off:0,bytes:[0x89,0x50,0x4E,0x47]},\n    {mime:'image/gif',off:0,bytes:[0x47,0x49,0x46]},\n    {mime:'image/bmp',off:0,bytes:[0x42,0x4D]},\n    {mime:'image/webp',off:8,bytes:[0x57,0x45,0x42,0x50]},\n  ];\n  function checkMagic(file){\n    return new Promise(res=>{\n      const r=new FileReader();\n      r.onload=e=>{\n        const buf=new Uint8Array(e.target.result);\n        for(const s of MAGIC){\n          const sl=buf.slice(s.off,s.off+s.bytes.length);\n          if(s.bytes.every((b,i)=>sl[i]===b)){res(true);return;}\n        }\n        res(false);\n      };\n      r.readAsArrayBuffer(file.slice(0,16));\n    });\n  }\n  async function loadFile(file){\n    if(!ALLOWED.has(file.type)){alert('Only image files allowed.');return;}\n    const ok=await checkMagic(file);\n    if(!ok){alert('File failed security check.');return;}\n    const url=URL.createObjectURL(file);\n    if(img){img.src=url;img.style.display='block';}\n    if(hint)hint.style.display='none';\n    if(bar){\n      const d=new Date();\n      bar.innerHTML='<strong>File:</strong> '+file.name+' &nbsp;|&nbsp; <strong>Size:</strong> '+(file.size/1024).toFixed(1)+' KB &nbsp;|&nbsp; <strong>Date:</strong> '+d.toLocaleDateString()+' &nbsp;|&nbsp; <span style=\"color:var(--green)\">✓ Secure — no hidden data stored</span>';\n    }\n  }\n  zone.addEventListener('click',()=>inp.click());\n  inp.addEventListener('change',e=>{if(e.target.files[0])loadFile(e.target.files[0]);});\n  zone.addEventListener('dragover',e=>{e.preventDefault();zone.classList.add('dragover');});\n  zone.addEventListener('dragleave',()=>zone.classList.remove('dragover'));\n  zone.addEventListener('drop',e=>{\n    e.preventDefault();zone.classList.remove('dragover');\n    const f=e.dataTransfer.files[0];if(f)loadFile(f);\n  });\n})();\n\nlet curM='hydro',curC='stu';\nfunction selMethod(m,btn){\n  document.querySelectorAll('.mpanel').forEach(p=>p.classList.remove('act'));\n  document.querySelectorAll('.mtab').forEach(b=>b.classList.remove('act'));\n  document.getElementById('m-'+m).classList.add('act');\n  btn.classList.add('act');curM=m;\n  document.querySelectorAll('#m-'+m+' .cpanel').forEach(p=>p.classList.remove('act'));\n  const cp=document.getElementById(m+'-'+curC);\n  if(cp)cp.classList.add('act');\n}\nfunction selCtx(c,btn){\n  document.querySelectorAll('.ctx-tab').forEach(b=>b.classList.remove('act'));\n  btn.classList.add('act');curC=c;\n  document.querySelectorAll('#m-'+curM+' .cpanel').forEach(p=>p.classList.remove('act'));\n  const cp=document.getElementById(curM+'-'+c);\n  if(cp)cp.classList.add('act');\n}\n\nfunction filterPapers(m,btn){\n  document.querySelectorAll('.ftab').forEach(b=>b.classList.remove('active'));\n  btn.classList.add('active');\n  document.querySelectorAll('.paper-card').forEach(c=>{\n    c.style.display=(m==='All'||c.dataset.metal===m)?'block':'none';\n  });\n}\n\nconst COLORS=['#4f8ef7','#7c3aed','#22c55e','#f59e0b','#ef4444','#06b6d4','#ec4899','#84cc16'];\nconst metals=${JSON.stringify(metals)};\nconst pcts=${JSON.stringify(pcts)};\nconst weights=${JSON.stringify(weights)};\nconst pricesRaw=${JSON.stringify(pricesRaw)};\nlet chartsRendered=false;\n\nfunction renderCharts(){\n  if(chartsRendered)return;\n  chartsRendered=true;\n  Plotly.newPlot('chart-pie',[{\n    type:'pie',labels:metals,values:pcts,marker:{colors:COLORS},\n    textinfo:'label+percent',hole:0.45,textfont:{color:'#e2e8f0'},\n    hovertemplate:'<b>%{label}</b><br>%{value}%<extra></extra>'\n  }],{paper_bgcolor:'transparent',plot_bgcolor:'transparent',\n    font:{color:'#94a3b8'},margin:{t:10,b:10,l:10,r:10},showlegend:false\n  },{responsive:true,displayModeBar:false});\n\n  Plotly.newPlot('chart-bar',[{\n    type:'bar',x:metals,y:weights,marker:{color:COLORS,opacity:0.85},\n    text:weights.map(w=>w+'g'),textposition:'outside'\n  }],{paper_bgcolor:'transparent',plot_bgcolor:'rgba(10,16,32,0.6)',\n    font:{color:'#94a3b8'},margin:{t:20,b:40,l:45,r:10},\n    xaxis:{gridcolor:'#1a2840'},yaxis:{gridcolor:'#1a2840',title:'grams'}\n  },{responsive:true,displayModeBar:false});\n\n  let traces=[],mn='',mx='';\n  Object.entries(pricesRaw).forEach(([metal,pts],i)=>{\n    if(!Array.isArray(pts))return;\n    const dx=pts.map(p=>p.date),px=pts.map(p=>p.price);\n    if(!mn||dx[0]<mn)mn=dx[0];\n    if(!mx||dx[dx.length-1]>mx)mx=dx[dx.length-1];\n    traces.push({type:'scatter',mode:'lines',name:metal,x:dx,y:px,\n      line:{color:COLORS[i%COLORS.length],width:2},\n      hovertemplate:'<b>%{fullData.name}</b><br>%{x}<br>$%{y:,.2f}/kg<extra></extra>'});\n  });\n  Plotly.newPlot('chart-market',traces,{\n    paper_bgcolor:'transparent',plot_bgcolor:'rgba(10,16,32,0.6)',\n    font:{color:'#94a3b8'},margin:{t:10,b:40,l:70,r:10},\n    xaxis:{gridcolor:'#1a2840',rangeslider:{bgcolor:'#0d1526'}},\n    yaxis:{gridcolor:'#1a2840',title:'USD / kg'},\n    legend:{bgcolor:'rgba(13,21,38,0.9)',bordercolor:'#1a2840',borderwidth:1},\n    hovermode:'x unified'\n  },{responsive:true});\n  if(mn)document.getElementById('df').value=mn;\n  if(mx)document.getElementById('dt').value=mx;\n}\n\nconst chartObs=new IntersectionObserver(entries=>{\n  entries.forEach(e=>{if(e.isIntersecting)renderCharts();});\n},{threshold:0.1});\nconst chartEl=document.getElementById('chart-pie');\nif(chartEl)chartObs.observe(chartEl);\n\nfunction applyFilter(){\n  Plotly.relayout('chart-market',{'xaxis.range':[document.getElementById('df').value,document.getElementById('dt').value]});\n}\nfunction resetFilter(){\n  Plotly.relayout('chart-market',{'xaxis.autorange':true});\n}\n<\\/script>\n</body>\n</html>`;\n\nreturn [{ json: { html, image_name: imgName } }];"
      },
      "id": "5cb03dfb-8195-4263-a61c-34b852591c23",
      "name": "Build Report HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/save-report",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "image_name",
              "value": "={{ $json.image_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d270a84-f3c0-4d2e-935c-fc11c09929fe",
      "name": "POST Report to Flask (save to D:\\EVS\\EVs\\Reports)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Build Report HTML').item.json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "4748bfda-d755-4749-bb39-89057a737e13",
      "name": "Respond with HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        -128
      ]
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        80
      ],
      "id": "29132fa7-39b1-4a4f-afb5-697c2193c0f4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "vW43YRTFeCIatMA6",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Receive Image": {
      "main": [
        [
          {
            "node": "AI Agent — Grok Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Grok Vision": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Get Metal Market Data (Python Flask)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Metal Market Data (Python Flask)": {
      "main": [
        [
          {
            "node": "Build Report HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report HTML": {
      "main": [
        [
          {
            "node": "POST Report to Flask (save to D:\\EVS\\EVs\\Reports)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Report to Flask (save to D:\\EVS\\EVs\\Reports)": {
      "main": [
        [
          {
            "node": "Respond with HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Grok Vision",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a06d13b5-36b7-4907-89c7-2ad477b60532",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49c84b5b9a76699edc81687bf460b44c9cf920a8f95a997c09ce3b66458bf627"
  },
  "id": "PPnsHHKRKwq6N5Zl",
  "tags": []
}